body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.App {
  display: flex;
  justify-content: space-around
}

.Output, .Input {
  width: 45%

}

.Output, .subOutput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-wrap: break-word
}